node_modules
dist
build
coverage
.turbo
.next
.vite
.cache

pnpm-lock.yaml
package-lock.json
yarn.lock

.env
.env.*
!.env.example

*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico

apps/frontend/public
apps/frontend/src/assets
